ul#nav
  li: a(href="/design/archeeve.html") Archeeve
  li: a(href="/design/oddbee.html") Oddbee
  li: a(href="/design/rumble-labs.html") Rumble Labs

h3#siteinfo Sites designed to be viewed at width of 1495px !!!!!!!!!
