extends ../index.jade

block content
  #archeeve
    #top
      #skin
        h1 THE MOST USEFUL APP TO ORGANISE YOUR BOOKMARKS
        ul
          li.download GET IT FOR MAC
          li.download GET IT FOR WINDOWS
        img#app(src="../assets/archeeve_stuff/app.png")
    #features
      h1#featureheader FEATURES
      #abilities
        .row
          .box
            i.fa.fa-search.fa-2x
            h2 SEARCH
            P Search bookmarks by title or description
          .box
            i.fa.fa-list.fa-2x
            h2 ORGANISE
            P Organise bookmarks with collections and tags
          .box
            i.fa.fa-heart.fa-2x
            h2 FAVORITES
            P Find favorites bookmarks with ease
          .box
            i.fa.fa-th-large.fa-2x
            h2 GRID/LIST
            P Switch between grid or list view
        .row
          .box
            i.fa.fa-file-image-o.fa-2x
            h2 SCREENSHOTS
            P Archeeve automatically generates screenshot of each bookmark
          .box
            i.fa.fa-globe.fa-2x
            h2 MULTILINGUAL
            P Archeeve speaks in your language *
          .box
            i.fa.fa-refresh.fa-2x
            h2 SYNC
            P Sync your bookmarks with Pocket
          .box
            i.fa.fa-external-link.fa-2x
            h2 IMPORT/EXPORT
            P Import/Export of bookmark files
    #fineprint      
      p * English, Polish, German, Spanish, Portuguese, Turkish, Dutch, French
    #screenshots
      h1#screenshotheader SCREENSHOTS
      .picrow
        img.picbox(src="../assets/archeeve_stuff/archeeve1.png")
        img.picbox(src="../assets/archeeve_stuff/archeeve2.png")
        img.picbox(src="../assets/archeeve_stuff/archeeve3.png")
      .picrow
        img.picbox(src="../assets/archeeve_stuff/archeeve4.png")
        img.picbox(src="../assets/archeeve_stuff/archeeve5.png")
        img.picbox(src="../assets/archeeve_stuff/archeeve6.png")
      .picrow
        img.picbox(src="../assets/archeeve_stuff/archeeve7.png")
        img.picbox(src="../assets/archeeve_stuff/archeeve8.png")
          
    #purchase
      h1#purchaseheader GET THE APP NOW FOR $4.99!
      p Every transaction on Selz happens through an encrypted HTTP Secure connection.
      
    
      h2.buttons: a(href="#") ARCHEEVE MAC OSX (1.0.5)
      h2.buttons: a(href="#") ARCHEEVE WINDOWS
