extends ../index.jade

block content
  #rumble
    #header
      span: p ABOUT  /  PROJECTS  /  BLOG
    #top
      #skin
        h1#title HELLO, WE'RE RUMBLE LABS
        h3 Experts in
        h1 App development, design and strategy for the web, iOS and Mac.
        h2.learnmore: a(href='https://youtu.be/dQw4w9WgXcQ') LEARN MORE >
    #video
      iframe(src="https://player.vimeo.com/video/119068482" width="1200" height="762" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
    #about
      h3.grey ABOUT US
      h1 We work the rumble way
      #aboutwrapper
        .aboutbox
          img.icon(src="../assets/rumble-labs_stuff/home-culture.jpg")
          h2 Great Culture
          h3 Collaborative, open and fun! Our culture maximises happiness to the benefit of productivity and creativity.
          h3: a(href="https://youtu.be/dQw4w9WgXcQ") Get to know us better
        .aboutbox
          img.icon(src="../assets/rumble-labs_stuff/home-process.jpg")
          h2 Proven Process
          h3 We practice Agile Design and Development, taking the time to understand requirements and deliver on them.
          h3: a(href="https://youtu.be/dQw4w9WgXcQ") Proven Process
    #services
      h3.grey SERVICES
      h1 Our valuable expertise lies in:
      #serviceswrapper
        .boxes
          img.products(src="../assets/rumble-labs_stuff/simon-whiteboarding.jpg")
          h2 Product Strategy
          h4 We practice Agile Design and Development, taking the time to understand requirements and deliver on them.
          
        .boxes
          img.products(src="../assets/rumble-labs_stuff/about-app-development.jpg")
          h2 Web App Development
          h4 We practice Agile Design and Development, taking the time to understand requirements and deliver on them.
          
        .boxes
          img.products(src="../assets/rumble-labs_stuff/niall-mac-app-planning-1.jpg")
          h2 iOS / Mac Development
          h4 We practice Agile Design and Development, taking the time to understand requirements and deliver on them.
          
        .boxes
          img.products(src="../assets/rumble-labs_stuff/about-responsive-design.jpg")
          h2 Responsive Web Design
          h4 We practice Agile Design and Development, taking the time to understand requirements and deliver on them.
    #specs
      h1 Each of our projects involve the following:
      #specswrapper
        .specbox
          h2 Planning
          h3 A well thought out project plan is fundamental to a projects success.
          ul
            li Project speccing
            li Research (User, Product, Technical)
            li Information architecture
            li Userflow analysis
            li Content strategy
        .specbox
          h2 Design
          h3 An iterative process always geared towards fulfilling a users needs.
          ul
            li Prototype/Wireframing
            li User-centric design
            li Interface design
            li Branding
            li Data visualization
        .specbox
          h2 Development
          h3 Software engineered with Ruby, Rails, Javascript and Objective-C.
          ul
            li Front-end dev (HTML5, CSS3)
            li API integration
            li Testing (Usability, Code)
            li Technical consulting
            li Content management systems
        .specbox
          h2 Growth
          h3 Management, support and tracking for your project over its lifespan.
          ul
            li Training
            li Social media engagement
            li Operations and deployments
            li Hosting and support
            li Analytics
    #learnprojects
      h1 LEARN ABOUT OUR PROJECTS
    #photogallery
      img.gallery(src="../assets/rumble-labs_stuff/about-responsive-design.jpg")
      img.gallery(src="../assets/rumble-labs_stuff/digital-circle-monitor.jpg")
      img.gallery(src="../assets/rumble-labs_stuff/yolla-scan.jpg")
      img.gallery(src="../assets/rumble-labs_stuff/squarevid-punchbag.jpg")
      img.gallery(src="../assets/rumble-labs_stuff/lisson-gallery.jpg")
      img.gallery(src="../assets/rumble-labs_stuff/nitb-app-2.jpg")
    #getintouch
      #getintouchbox
        h3.grey GET IN TOUCH
        h1 Do you have a project enquiry?
        h1 ___
        h3 Great! Tell us about it by completing our project planner. Doing so helps us better understand your requirements and in turn we can provide a more helpful response.
        #startproject
          h3: a(href="") START YOUR PROJECT PLAN NOW >
        #emailsection
          b Or email us - hello@rumblelabs.com
    #contactinfo
      
