
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
#archeeve{
  font-family: 'Open Sans Condensed', sans-serif;

  /*************************
  Top of site
  **************************/
  #top {
    background-image: url("../assets/archeeve_stuff/background2.jpg");
    height: 1100px;
    text-align: center;
    width: 105%;
    margin-left: -20px;
    margin-top: -25px;
  }
  #skin {
    background-color: rgba(0, 0, 0, 0.53);
    height: 100%;
    width: 105%;
    margin-left: -20px;

  }

  .download:hover {
    color: rgba(174, 142, 65, 0.75);
    border-color: rgba(174, 142, 65, 0.75);
  }

  #app {
    position: absolute;
    top: 621px;
    left: 23%;
  }

  #banner {
    padding-top: 6%;
    color: white;
    letter-spacing: 4px;
    padding-bottom: 100px;
  }
  .download {
    color: white;
    display: inline;
    width: 10%;
    margin: 50px 50px 0 50px;
    padding: 12px;
    border: 5px solid white;
    border-radius: 5px;
    margin-left: -40px;
    maargin-top: 90px;

  }

  .download a {
    color: white;
    text-decoration: none;
  }


  /*************************
  Abilities
  **************************/
  #features {
    background-color: rgb(38, 38, 38);
    height: 700px;
    margin-top: -25px;
    text-align: center;
    color: white;
    width: 105%;
    margin-left: -20px;
  }

  #featureheader {
    padding: 50px;
  }

  #abilities {
    margin-bottom: 30px;
  }

  #abilities li{
    display: inline;
    padding: 10px;
    border: 1px solid pink;
    margin: 10px;
    font-size: 90%;
    width: 500px;
    margin-left: -20px;
  }

  #abilities ul{
    margin: 50px;

  }

  h2 {
    padding-top: 5%;
    margin-left: 60px;
  }

  .row {
    margin-left: 3%;

  }
  .box{
    float: left;
    display: block;
    width: 23%;
    margin: 15px 0;
  }

  .box h2 {
    margin-left: 0;
  }

  #fineprint {
    background-color: rgb(38, 38, 38);
    text-align: center;
    color: white;
    margin-top: -50px;
  }

  /*************************
  Screenshots
  **************************/

  #screenshots {
    height: 1500px;
    margin-top: -10px;
    background-color: rgb(35, 35, 35);
    width: 105%;
    margin-left: -20px;
  }
  #screenshotheader {
    color: white;
    text-align: center;
    padding-top: 50px;
  }

  .picrow {
    margin-left: 70px;
    padding: 50px;

  }

  .picbox {
    height: 375px;
  }

  /*************************
  Purchase
  **************************/

  #purchase {
    background-color: rgb(38, 38, 38);
    height: 700px;
    color: white;
    text-align: center;
    margin-top: -30px;
    letter-spacing: 2px;
    width: 105%;
    margin-left: -20px;margin: -2px 0 -5px 0;
    margin-left: -17px;
    margin-right: -20px;
    padding-top: -50px;
    margin-top: -25px;
  }

  #purchaseheader {
    padding-top: 200px;
  }

  #purchase p {
    margin-bottom: 150px;
  }

  .buttons {
    display: inline;
    background-color: rgb(63, 63, 63);
    padding: 10px;
    margin: 30px;
    border-radius: 25px;
  }

  .buttons:hover {
    display: inline;
    background-color: green;
    padding: 10px;
    margin: 30px;
    border-radius: 25px;
  }

  .buttons a {
    text-decoration: none;
    color: white;
  }

  #skin ul {
    margin-left: 650px;
    width: 500px;
  }


}
